<!-- Google Analytics 4 Tracking -->
{% if ga_measurement_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_measurement_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ ga_measurement_id }}');

  // LMS Custom Events Helper
  window.lmsAnalytics = {
    trackVideoPlay: function(videoId, videoTitle) {
      gtag('event', 'video_play', {
        'video_id': videoId,
        'video_title': videoTitle,
        'event_category': 'video'
      });
    },
    trackVideoComplete: function(videoId, videoTitle) {
      gtag('event', 'video_complete', {
        'video_id': videoId,
        'video_title': videoTitle,
        'event_category': 'video'
      });
    },
    trackVideoProgress: function(videoId, videoTitle, percent) {
      if ([25, 50, 75, 90].includes(Math.round(percent))) {
        gtag('event', 'video_progress', {
          'video_id': videoId,
          'video_title': videoTitle,
          'progress_percent': Math.round(percent),
          'event_category': 'video'
        });
      }
    },
    trackChatMessage: function() {
      gtag('event', 'chat_message_sent', {
        'event_category': 'ai_chat'
      });
    },
    trackLogin: function(userRole) {
      gtag('event', 'login', {
        'method': 'password',
        'user_role': userRole
      });
    }
  };
</script>
{% endif %}
